body{
    background-image: url(https://st4.depositphotos.com/32466374/40208/v/450/depositphotos_402088470-stock-illustration-checkerboard-black-white-background-checker.jpg);
    background-position: cover;
    background-repeat: no-repeat;
}


.divprincipal{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
}

#Ajuste_base{
    color: aliceblue;
    justify-content: flex-start;
    padding-bottom: 150px;
}

#ajuste_base_centro{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.divcentral{
    display: flex;
    justify-content: center;
    width: 500px;
    color: aqua;
    background-color: rgb(0, 0, 0);
    height: 600px;
    border-radius: 100px;
    align-items: center;
}

.divinter{
    font-size: larger;
    display: flex;
    flex-direction: column;
    height: 600px;
    color: aliceblue;

}

.boton_seleccion{
    border-radius: 160px;
    width: 25px;
    height: 25px;
}

.boton_seleccion:hover{
    transform: scale(2.3);
    background-color: rgb(103, 255, 242);
    transition:transform 0.3s ease-in-out;
}