body {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(https://img.freepik.com/vector-premium/plaza-fondo-taxi_126205-40.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#boton_ini{
    border-radius: 50px;
    height: 50px;
    background-color: blanchedalmond;
}

h1{
    color:white;
}
#Ajuste_base{
    color: aliceblue;
    justify-content: center;
    padding-bottom: 10px;
}

#ajuste_base_centro{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.divcentral{
    position: relative;
    display: flex;
    justify-content: center;
    width: 500px;
    color: aqua;
    background-color: rgb(0, 0, 0);
    height: 600px;
    border-radius: 100px;
    align-items: center;
    top: 50px;
}

.divaunmasinterno{
    display: flex;
    justify-content: center;
    width: 450px;
    height: 600px;
}

.divinter{
    font-size: larger;
    display: flex;
    flex-direction: column;
    height: 600px;
    color: aliceblue;

}

.boton_nor{
    border-radius: 20px;
    width: 250px;
}

.boton_nor:hover{
    transform: scale(1.5);
    background-color: rgb(255, 255, 255);
    transition:transform 0.3s ease-in-out;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); 
}


.boton_seleccion{
    border-radius: 160px;
    width: 25px;
    height: 25px;
}

.boton_seleccion:hover{
    transform: scale(1.5);
    background-color: rgb(255, 255, 255);
    transition:transform 0.3s ease-in-out;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); 
}

.divcentralogin{
    display: flex;
    justify-content: center;
    width: 600px;
    color: aqua;
    background-color: rgb(0, 0, 0);
    height:600px;
    border-radius: 100px;
}

#centrado{
    display: flex;
    justify-content: center;
    width: auto;
    
}

.centradoxd{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.elemento1 {
    width: 300px;
    height: 100px;
    background-color: rgb(0, 247, 255);
    border: 6px solid rgb(55, 255, 6);
    color: white;
    text-align: center;
    line-height: 100px;
    margin-bottom: 20px;
}

.contenedorMovimiento {
    width: 500px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.contenedorMovimiento .imagen1 {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation-name: movimientos;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-play-state: running;
}

.textoimagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.7);
    pointer-events: none; /* Para que no afecte la interacción con la imagen */
}

@keyframes movimientos {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.carreteragogo {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #e0e0e0;
    border: 2px solid black;
    overflow: hidden;
}

.carro {
    position: absolute;
    width: 250px;
    height: 55px;
    background-color: rgb(187, 255, 1);
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
    animation: drive 3s linear infinite;
}

.topdelcarro {
    position: absolute;
    justify-content: center;
    width: 120px;
    height: 45px;
    background-color: yellow;
    top: 35px;
    left: 65px;
    z-index: 2;
    animation: drive 3s linear infinite;
    border-radius: 5px;
}

@keyframes drive {
    0% {
        left: 0;
        background-color: rgb(251, 255, 0);
    }
    12%{
        left: 12%;
        background-color: rgb(187, 255, 1);
    }
    25%{
        left: 25%;
        background-color: rgb(255, 0, 0);
    }
    50%{
        left: 50%;
        background-color: blueviolet;
    }
    75%{
        left: 75%;
        background-color: seagreen;
    }
    87%{
        left: 87%;
        background-color: blue;
    }
    100% {
        left: 100%;
        background-color: aquamarine;
    }
}

/* Detalles de las ruedas del auto */
.rueda {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    top: 75%;
    animation: spin 1s linear infinite;
    border: solid 2px rgb(255, 0, 0);
}

.rueda.front {
    left: 10px;
}

.rueda.back {
    right: 10px;
}

/* Animación de giro de las ruedas */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.divinterxddd{
    display: inline-block;
    width: 500px;
}

.quesotexto{
    animation: drive 3s linear infinite;
}