body {
    width: 100vw;
    height: 100vh;
    background-image: url(https://img.freepik.com/vector-premium/plaza-fondo-taxi_126205-40.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.TeleTaxi {
    color: rgb(255, 0, 0);
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 800;
    text-shadow: 0px 4px 4px rgba;
    font-size: 60px;
    line-height: 97px;
}

.FondoNegro {
    background: #000000;
    border: 1px solid #000000;
    border-radius: 40px;
    height: 565px;
    margin: 30px;
}

.IniciarSesion {
    color: #FFFFFF;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 60px;
    line-height: 130px;
}

.ClaveAcceso {
    position: absolute;
    left: 80px;
    color: #FFFFFF;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 35px;
}


#Escribir {
    position: absolute;
    left: 80px;
    background: #FFFFFF;
    border-radius: 40px;
    width: 600px;
    height: 50px;
    top: 310px;
}

.CodigoInteraccion {
    position: absolute;
    left: 80px;
    color: #FFFFFF;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 35px;
    top: 365px;
}

#Escribir2 {
    position: absolute;
    left: 80px;
    background: #FFFFFF;
    border-radius: 40px;
    width: 600px;
    height: 50px;
    top: 415px;
}

.ClaveUnica {
    position: absolute;
    left: 80px;
    color: #FFFFFF;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 35px;
    top: 470px;
}

#Escribir3 {
    position: absolute;
    left: 80px;
    background: #FFFFFF;
    border-radius: 40px;
    width: 600px;
    height: 50px;
    top: 515px;
}

.Boton1 {
    position: absolute;
    right: 300px;
    background: #FFFFFF;
    border-radius: 40px;
    width: 130px;
    height: 50px;
    top: 630px;
    cursor: pointer;
}

.Boton1:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8); 
}

.Entrar {
    position: absolute;
    left: 20px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 25px;
    top: 6px;
}

.Boton2 {
    position: absolute;
    right: 150px;
    background: #FFFFFF;
    border-radius: 40px;
    width: 130px;
    height: 50px;
    top: 630px;
    cursor: pointer;
}

.Boton2:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8); 
}

.Cancelar {
    position: absolute;
    left: 2px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 25px;
    top: 6px;
}
